#create-btn {
  display: block;
}

#cancel-btn {
  display: none;
}

#edit-btn {
  background-color : transparent;
  color : #ffffff;
}

.edit-mode {
  background-color : #47c5ab;
  color : #ffffff;
}

.thumb {
  filter: blur(0px);
}

.edit_blur_1 {
  filter: blur(3px);
}

.edit_blur_1:hover {
  filter: blur(0px);
}

/* drop zone*/
body {
  /*background: #EEE;*/
  font-family: 'Roboto', sans-serif;
}

.dropzone {
  width: 98%;
  margin: 1%;
  border: 2px dashed #3498db !important;
  border-radius: 5px;
  -webkit-transition: .2s;
  transition: .2s;
}

.dropzone.dz-drag-hover {
  border: 2px solid #3498db !important;
}

.dz-message.needsclick img {
  width: 50px;
  display: block;
  margin: auto;
  opacity: .6;
  margin-bottom: 15px;
}

span.plus {
  display: none;
}

.dropzone.dz-started .dz-message {
  display: inline-block !important;
  width: 120px;
  float: right;
  border: 1px solid rgba(238, 238, 238, 0.36);
  border-radius: 30px;
  height: 120px;
  margin: 16px;
  -webkit-transition: .2s;
  transition: .2s;
}

.dropzone.dz-started .dz-message span.text {
  display: none;
}

.dropzone.dz-started .dz-message span.plus {
  display: block;
  font-size: 70px;
  color: #AAA;
  line-height: 110px;
}

.popup-content {
  max-width: 1000px;
  width: 80%;
}

/* 팝업을 감싸는 배경 요소 스타일 */
.popup-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명한 배경색 */
  z-index: 9999; /* 다른 요소 위에 표시 */
  justify-content: center;
  align-items: center;
}

/* 팝업 요소 스타일 */
.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* TIP :: Vibration */
/*.vibration {*/
/*  animation: vibration 1s infinite;*/
/*}*/

/*@keyframes vibration {*/
/*  from {*/
/*    transform: rotate(0.3deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(-0.3deg);*/
/*  }*/
/*}*/

/* TIP :: Border radious */
/*.radius_img_4 {*/
  /*border-radius: 4%;*/
/*}*/
