.edit-mode {
  background-color : #47c5ab;
  color : #ffffff;
}

.custom-file-upload {
  width: 150px;
  height: 30px;
  background: dimgray;
  border: 1px solid rgb(77,77,77);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-file-upload:hover {
  background: rgb(77,77,77);
  color: #fff;
}

#imageBox {
  height: 100%;
  float: right;
  width: 20%;
  cursor: pointer;
}

#imageBoxButton {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

#imageBoxText {
  float: left; width: 80%
}

.thumb {
  filter: blur(0px);
}

.edit_blur_1 {
  filter: blur(3px);
}

.edit_blur_1:hover {
  filter: blur(0px);
}

/* TIP :: Vibration */
/*.vibration {*/
/*  animation: vibration 1s infinite;*/
/*}*/

/*@keyframes vibration {*/
/*  from {*/
/*    transform: rotate(0.3deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(-0.3deg);*/
/*  }*/
/*}*/

/* TIP :: Border radious */
/*.radius_img_4 {*/
  /*border-radius: 4%;*/
/*}*/
